<div class="row">
  <div class="span3">
    <%= cart.product.name %>
  </div>
  <div class="span1">
    <%= cart.product.cost %>
  </div>
  <div class="span1">
    <%= link_to "-", "/cart/update?product=" + cart.product.id.to_s + "&count=" + ( cart.count - 1 ).to_s %>
    <%= cart.count %>
    <%= link_to "+", "/cart/update?product=" + cart.product.id.to_s + "&count=" + ( cart.count + 1 ).to_s %>
  </div>
  <div class="span1">
    <%= cart.count * cart.product.cost %>
  </div>
  <div class="span1">
    <%= link_to "Remove", "/cart/delete?product=" + cart.product.id.to_s %>
  </div>
</div>